<!DOCTYPE html>
<html>
    <body>
        <form method='POST' action="">
            Classes:<br>
            
            <datalist id="classes">
                {% for c in autocomplete %}
                    <option value={{ c }}>
                {% endfor %}
            </datalist>
            
            <input id="input" type="text" name="classes" value="" list="classes">
            <br><br>
            <input type="submit" value="Add">
            <br>
            {% for schedule in result %}
            <br>
            <label> {{ schedule["name"] }} </label>
            <br>
            <table>
            {% for c in schedule["courses"] %}
                <tr>
                    <th> {{ c["crn"] }} </th>
                    <td> {{ c["id"] }} </td>
                </tr>
            {% endfor %}
            </table>
            {% endfor %}
        </form>
    </body>
</html>
