<!DOCTYPE html>
<html>
    <body>
        <form method='POST' action="">
            Classes:<br>
            
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $( function() {
                    var availableTags = {{ autocomplete|tojson }};
                    $( "input" ).autocomplete({ source: availableTags });
                });
            </script>
            <input id="input" type="text" name="classes" value="">
            
            <br><br>
            <input type="submit" value="Add">
            <br>
            {% for schedule in result %}
            <br>
            <label> {{ schedule["name"] }} </label>
            <br>
            <table>
            {% for c in schedule["courses"] %}
                <tr>
                    <th> {{ c["crn"] }} </th>
                    <td> {{ c["id"] }} </td>
                </tr>
            {% endfor %}
            </table>
            {% endfor %}
        </form>
    </body>
</html>
